body {
    background-color: aqua;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande';
    color: darkgreen;
    border-bottom: solid;
}
img {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    border-radius: 10px;
}